<div class="mx-auto text-center">
    <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
<% end %>
</div>
<% city_array=[] %>
<% @cities.each do |city| %>
<% city_array << [city.name, city.id] %>
<% end %>
<div class="px-5">
    <div class="row">
        <div class="text-left col-4 card p-3 border-success">
            <%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |form| %>
            <%= form.text_field :first_name, label: "Prénom:"%>
            <%= form.text_field :last_name, label: "Nom:" %>
            <%= form.text_field :age, label: "Age:" %>
            <%= form.select :city, city_array, { label: "Ville:" }, { class: "selectpicker" } %>
            <%= form.text_field :description, label: "Description:" %>
            <%= form.email_field :email, label: "Email:" %>
            <%= form.password_field :password, label: "Mot de passe:", help: "Must be at least 6 characters long" %>
            <%= form.password_field :password_confirmation, label: "Confirmation:" %>
            <%= form.submit "Nouveau profil", style:"font-size:smaller" %>
            <% end %>
        </div>
    </div>
</div>
</div>