<html>
  <body>
    <!-- ... -->

    <% if @alert %>
      <div class="alert alert-danger "><%= @message %></div>
    <% end %>



    <%= form_for(@gossip) do |f| %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
    
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
    
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  
    <!-- ... -->
  </body>
</html>
